/* --------------- Fonts and Icons ----------------- */
/* Font: Noto Serif variable */
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

/* .noto-serif-<uniquifier> {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

/* --- */

/* Font: Raleway variable  */
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

/* .raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* --- */

/* Font: Plus Jakarta Sans variable */
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 200 to 800 */

/* .plus-jakarta-sans-<uniquifier > {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* --------------- general style ----------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* when modal pop up */
.darken-background::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 500;
  pointer-events: fill;
}

/* Section colour */
.white-section {
  background-color: var(--white);
}
.grey-section {
  background-color: var(--light-grey);
}
.black-section {
  background-color: var(--black);
}

/* logo colour */
.logo-colour {
  /* to manipulate contrast checker (it thinks the logo is black) */
  color: var(--white);
}

/* Root */
:root {
  /* color */
  --orange: #fb9600;
  --red: #d42020;
  --white: #f7f7f7;
  --light-grey: #e4e4e4;
  --turquoise: #40c0b0;
  --dark-blue: #013f46;
  --black: #202020;
  --black-light-opacity: rgba(32, 32, 32, 0.7);
  --black-low-opacity: rgba(32, 32, 32, 0.4);
  /* font */
  --serif-font: "Noto Serif", serif;
  --text-font: "Raleway", sans-serif;
  --heading-font: "Plus Jakarta Sans", sans-serif;
  --big-headline: 3rem;
  --h1-size: 2rem;
  --text-size-14: 0.875rem;
  --text-size-12: 0.75rem;
  --link-nav-size: 1.375rem;
  --link-size: 1.125rem;
  --letter-space-2: 2px;
  --letter-space-05: 0.5px;
  /* other styles */
  --scale-5: 1.05;
  --scale-98: 0.98;
  --white-border: solid 1px var(--white);
  --black-border: solid 1px var(--black);
  --orange-border-2: solid 2px var(--orange);
  --border-radius-2: 2px;
  --btn-shadow: 1px 1px 4px var(--black);
  --btn-shadow-2: 2px 2px 10px var(--dark-blue);
  --transition: all 0.3s ease;
  --max-width-desktop: 88.125rem;
  --max-blog-post-width: 900px;
}

/* ---icons and symbols--- */
.material-symbols-sharp {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
  font-optical-sizing: auto;
}

span.size-32 {
  font-size: 32px;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 32;
}
span.weight-400 {
  font-size: 32;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 32;
}

/* ---Text--- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  text-transform: capitalize;
  color: var(--black);
  letter-spacing: var(--letter-space-05);
}

h1 {
  font-size: 2rem;
  letter-spacing: var(--letter-space-2);
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.125rem;
  text-transform: none;
}
h6 {
  font-size: 1rem;
  text-transform: none;
}

a,
li {
  font-family: var(--text-font);
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
  letter-spacing: var(--letter-space-05);
}

p {
  font-family: var(--text-font);
  color: var(--black);
}

/* ---- Message ---- */
.success,
.warning,
.error {
  text-transform: capitalize;
  font-family: var(--heading-font);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-inline: auto;
  max-width: 100%;
  padding: 1rem;
  border: 1px solid var(--black);
  color: var(--black);
}

.success {
  background-color: var(--turquoise);
}

.warning {
  background-color: var(--orange);
}

.error {
  background: var(--red);
}

/* ---current page--- */
.current-page {
  border-bottom: solid 1px var(--orange);
}

/* -------- Loader -------- */

.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader-center {
  max-width: var(--max-width-desktop);
  margin: 0 auto;
}

.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* ---------------------DESKTOP--------------------- */

/* --- display none --- */
.hamburger,
.mobile-nav {
  display: none;
}

/* ------------ header ----------- */
.header-nav {
  display: flex;
  max-width: var(--max-width-desktop);
  margin-inline: auto;
  padding: 1rem 10px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 99;
}

.nav-links-left a,
.nav-links-right a {
  font-size: var(--link-nav-size);
  color: var(--white);
}

.logo-container,
.nav-links-left,
.nav-links-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo:hover,
.logo:active {
  scale: var(--scale-5);
}

.nav-link {
  padding: 6px 16px;
}

.nav-link {
  position: relative;
}

.nav-link::before,
.footer-nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  transition: var(--transition);
  border-top: var(--white-border);
}

.nav-link:hover::before,
.footer-nav-link:hover::before {
  width: 100%;
}

.nav-link:active,
.footer-nav-link:active {
  border-top: var(--white-border);
}

.zero-padding {
  padding: 0;
}

/* ----------- Footer ----------- */
footer {
  margin-top: auto;
  display: flex;
  background-color: var(--black);
  background-color: var(--dark-blue);
}

.footer {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width-desktop);
  width: 100%;
  margin-inline: auto;
}

.first-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px var(--white);
  padding: 16px 10px;
}

.left-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline-end: 4rem;
  gap: 3rem;
  width: 100%;
}

.footer-logo:hover {
  scale: var(--scale-5);
}

.footer-nav {
  display: flex;
}

.footer-nav-link {
  display: flex;
  padding: 6px 16px;
  position: relative;
  color: var(--white);
}

.right-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-inline-start: 5rem;
}

.some-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.some-container p {
  font-family: var(--text-font);
  font-size: var(--text-size-14);
  text-transform: none;
  text-align: center;
  letter-spacing: var(--letter-space-05);
  color: var(--white);
}

.some-icons-container {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  gap: 1rem;
}

.white-icon {
  color: var(--white);
}

.some-link:active,
.some-link:hover,
.white-icon:active,
.white-icon:hover {
  color: var(--orange);
  transition: var(--transition);
  font-size: 1.375rem;
}

/* ---to top btn--- */
.top-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.top-btn {
  cursor: pointer;
}

.top-btn ~ a {
  scroll-behavior: smooth;
}

.arrow-up {
  border: var(--white-border);
  color: var(--white);
  border-radius: var(--border-radius-2);
}

.arrow-up:hover,
.arrow-up:active {
  border: solid 2px var(--orange);
  color: var(--orange);
}

.top-btn ~ p {
  text-transform: capitalize;
  font-size: var(--text-size-14);
  font-weight: 500;
  color: var(--white);
}

.copyright {
  font-family: var(--serif-font);
  font-size: 10px;
  letter-spacing: var(--letter-space-2);
  color: var(--white);
  text-align: center;
  padding: 1rem 10px;
}

/* ----- Index page / landing section / hero ---- */
.body-index {
  background-color: var(--black);
}

.hero {
  background: var(--black); /* fallback if image doesn't display */
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/img/daniel-frank-R5CpX0Ktrzs-unsplash-qhd-lossy.webp); /* background image made darker with gradient */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  max-width: 100%;
  text-align: center;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 40vh;
  padding-inline: 1rem;
}

.index-top-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.index-main-heading {
  font-size: var(--big-headline);
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
}

.index-sub-heading {
  color: var(--white);
  font-weight: 400;
  font-size: var(--h1-size);
}

.landing-btn-down-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 20vh;
}

.landing-arrow-down {
  padding: 0.75rem 0.75rem;
  border: var(--orange-border-2);
  border-radius: 50%;
  color: var(--orange);
  cursor: pointer;
}

.landing-arrow-down:hover,
.landing-arrow-down:active {
  background: var(--orange);
  color: var(--black);
  transition: var(--transition);
}

/*--- News section ---*/

.news-container {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  max-width: var(--max-width-desktop);
  margin-inline: auto;
  padding-inline: 2rem;
}

.news-headline-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
}

.news-headline-wrapper a {
  display: flex;
  align-items: center;
}

.news-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: var(--max-width-desktop);
  margin-inline: auto;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  max-width: 800px;
}

.card-img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: var(--border-radius-2);
}

.card-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
  border-radius: var(--border-radius-2);
}

.card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  padding: 12px 25px;
  background-color: var(--orange);
  color: var(--black);
  font-size: var(--link-size);
  letter-spacing: 1px;
  text-transform: none;
  font-weight: 600;
  border: none;
  border-radius: var(--border-radius-2);
  cursor: pointer;
  box-shadow: var(--btn-shadow-2);
}

.card-btn:active,
.card-btn:hover {
  /* background-color: var(--dark-blue); */
  background-color: var(--dark-blue);
  color: var(--orange);

  transition: var(--transition);
}

/* --- latest post section & Carousel --- */
.post-carousel-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  max-width: var(--max-width-desktop);
  margin: 0 auto;
  padding: 3rem 2rem;
}

.post-carousel {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  scroll-snap-type: mandatory;
  padding-bottom: 2rem;
}

.post-carousel-card {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-2);
  scroll-snap-align: start;
  cursor: pointer;
}

.post-carousel-card-img {
  height: 200px;
  object-fit: cover;
  width: 300px;
  border-radius: var(--border-radius-2);
}

.post-carousel-card-img:hover,
.post-carousel-card-img:active {
  transform: var(--scale-98);
  transition: var(--transition);
}

.post-carousel-card-copy {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 10px;
}

.plain-text-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  color: var(--black);
  border-radius: var(--border-radius-2);
  cursor: pointer;
  font-size: var(--link-size);
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: none;
  padding: 0.5rem;
}

.plain-text-btn:hover,
.plain-text-btn:active {
  font-weight: 600;
}

.carousel-arrow-right,
.carousel-arrow-left {
  position: absolute;
  top: 125%;
  cursor: pointer;
  color: var(--black);
  padding: 1.5rem 0.75rem;
  background-color: var(--orange);
  opacity: 0.9;
  border: none;
  border-radius: var(--border-radius-2);
  box-shadow: var(--btn-shadow-2);
  z-index: 9;
  top: 50%;
}

.carousel-arrow-left {
  left: 0;
}

.carousel-arrow-right {
  right: 0;
}

.carousel-arrow-right:hover,
.carousel-arrow-left:hover,
.carousel-arrow-right:active,
.carousel-arrow-left:active {
  opacity: 1;
  color: var(--orange);
  background-color: var(--dark-blue);
}

/* ---- Intro section ---- */
.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 3rem 0 8rem 0;
  margin: 0 auto;
  max-width: var(--max-width-desktop);
}

.intro-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.intro-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 800px;
  font-size: var(--link-size);
}

/* ---------- Articles page ---------- */
.page-content {
  background-color: var(--black);
}

/* --- Main --- */
.articles-top-img {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/img/loic-leray-CIX5JDM59EM-unsplash.webp);
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.top-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding: 7rem 0 3rem 0;
}

.main-heading {
  font-size: var(--big-headline);
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
}

.sub-heading {
  color: var(--white);
  font-weight: 400;
  font-size: var(--h1-size);
}

/* --- Article cards --- */
.posts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem 2rem;
  max-width: var(--max-width-desktop);
  margin: 0 auto;
  padding: 5rem 10px 5rem 10px;
}

.article-card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  max-height: 420px;
}

.article-card-img {
  max-width: 400px;
  max-height: 300px;
  object-fit: cover;
  border-radius: var(--border-radius-2);
}

.article-card-copy {
  display: flex;
  flex-direction: column;
  text-transform: none;
  gap: 1rem;
  padding: 1rem 10px 0 10px;
}

.card-p-wrapper {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.article-card-copy ~ p {
  line-height: 1.5rem;
}

.load-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 4rem 0;
  max-width: var(--max-width-desktop);
  margin: 0 auto;
}

/* ------- About me ------- */
.about-top-img {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), url(../assets/img/derek-sears-lzeMiXS3UJI-unsplash.jpg);
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.black-heading {
  color: var(--black);
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 6rem 0 8rem 0;
  margin: 0 auto;
  max-width: 1000px;
}

.about-container h1 {
  text-transform: uppercase;
}

.about-container img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  line-height: 1.75rem;
}

.text-wrapper h5 {
  font-weight: 500;
}

.image-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.image-wrapper img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.btn-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.reverse-coloured-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  padding: 12px 25px;
  background-color: var(--black);
  color: var(--orange);
  font-size: var(--link-size);
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: var(--border-radius-2);
  box-shadow: var(--btn-shadow-2);
}

.reverse-coloured-btn:active,
.reverse-coloured-btn:hover {
  background-color: var(--orange);
  color: var(--black);
  transition: var(--transition);
}

.about-bottom-padding {
  padding: 0 0 2rem 0;
}

/* ------- Contact me ------- */
.contact-top-img {
  background: url(../assets/img/danka-peter-xv4L_bb0Z_8-unsplash.webp);
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  gap: 4rem;
  max-width: 550px;
  margin: 0 auto;
  padding: 6rem 0 0 0;
  text-align: center;
}

.form-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.form-container h5 {
  line-height: 1.75rem;
  text-transform: initial;
}

.form-heading-container p {
  display: flex;
  gap: 0.5rem;
  font-family: var(--serif-font);
  font-size: var(--text-size-14);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  padding: 0 0 8rem 0;
}

.label-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.form-wrapper label {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  text-align: left;
}

.form-wrapper span {
  font-size: var(--text-size-14);
}

.form-wrapper input,
.form-wrapper textarea {
  width: 100%;
  padding: 1.25rem 1rem;
  background-color: var(--light-grey);
  border-radius: var(--border-radius-2);
  box-shadow: var(--btn-shadow-2);
  outline: none;
  border: none;
  color: var(--black);
}

.form-wrapper input:focus,
.form-wrapper textarea:focus {
  outline: none;
  background-color: var(--white);
}

.form-wrapper textarea {
  height: 200px;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 17px 30px;
  background-color: var(--orange);
  border: none;
  border-radius: var(--border-radius-2);
  box-shadow: var(--btn-shadow-2);
  color: var(--black);
  font-size: var(--link-size);
  letter-spacing: 1px;
  text-transform: none;
  font-weight: 600;
  cursor: pointer;
}
.submit-button:hover,
.submit-button:active {
  background-color: var(--dark-blue);
  color: var(--orange);
  transition: var(--transition);
}

.form-message {
  display: flex;
  width: 100%;
  color: var(--red);
  padding: 0 1rem;
}

.form-wrapper .form-error {
  border: none;
  box-shadow: 1px 1px 2px 2px var(--red);
}

.form-wrapper .form-success {
  border: none;
  box-shadow: 1px 1px 2px 2px var(--turquoise);
  background-color: var(--light-grey);
}

/* ---- form success --- */
.form-success-section {
  display: block;
}

/* display none class*/
.is-hidden {
  display: none;
}

.form-success-container {
  position: absolute;
  width: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 1rem;
  text-align: center;
  background-color: transparent;
  border-radius: 5px;
  z-index: 1000;
}

.success-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
}

.success-icon {
  background-image: url(../assets/img/check_circle.svg);
  background-size: contain;
  width: 150px;
  height: 150px;
}

.success-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.success-text-wrapper h1 {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  gap: 1rem;
  color: var(--white);
}

.success-text-wrapper h4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--white);
}

.modal-home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 25px;
  background-color: var(--orange);
  color: var(--black);
  font-size: var(--link-size);
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: var(--border-radius-2);
  cursor: pointer;
  box-shadow: 1px 2px 4px var(--orange);
  max-width: fit-content;
}

.modal-home-btn:active,
.modal-home-btn:hover {
  background-color: var(--dark-blue);
  color: var(--orange);
  transition: var(--transition);
  box-shadow: 1px 2px 4px var(--dark-blue);
}

.modal-exit-btn {
  padding: 1px 10px;
  border: none;
  font-size: 2.5rem;
  font-weight: 100;
  background-color: transparent;
  color: var(--orange);
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
}

/* ---- Specific blog post page ----  */
.blog-post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  max-width: var(--max-width-desktop);
  margin: 0 auto;
  padding: 3rem 10px;
}

.headline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
  max-width: var(--max-blog-post-width);
  margin: 0 auto 2rem auto;
}

.post-img {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  filter: drop-shadow(2px 2px 8px var(--black));
  margin: 0 auto 2rem auto;
}

.sub-text-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: var(--max-blog-post-width);
  margin: 0 auto;
}

.sub-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* .sub-text-wrapper:last-child {
  padding: 0 0 3rem 0;
} */

.sub-text-wrapper h3 {
  padding: 0 0 1rem 0;
}

.sub-text-wrapper p {
  line-height: 1.5rem;
  font-weight: 500;
}

.blog-post-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--max-width-desktop);
  margin: 2rem auto 4rem auto;
}

/* ----------------------- Media 1158px -------------------- */
@media (width <=1175px) {
  .second-heading {
    font-size: var(--h2-size);
  }

  .landing-btn-down-wrapper {
    top: 21vh;
  }
}

/* -------------------------- Media 950px -------------------- */
@media (width <= 950px) {
  /* --- display none --- */
  .nav-links-left,
  .nav-link,
  .logo-text {
    display: none;
  }

  /* --- font size mobile ---*/
  :root {
    --h1-size: 2rem;
    --h2-size: 1.75rem;
    --h3-size: 1.25rem;
    --h4-size: 1.125rem;
    --h5-size: 1rem;
    --text-size: 1rem;
    --link-nav-size: 1.25rem;
    --link-size: 1rem;
  }

  /* --- header --- */
  .search-icon,
  .hamburger,
  .nav-icons {
    display: inline-block;
  }

  .header-nav {
    justify-content: space-between;
    padding: 10px 1rem;
  }

  .nav-link::before,
  .nav-link:active {
    border-top: none;
  }

  /* --- hamburger menu --- */
  .hamburger {
    display: block;
    position: relative;
    width: 1.625rem;
    cursor: pointer;
    background: none;
    appearance: none;
    outline: none;
    border: none;
  }

  .hamburger-bar,
  .hamburger::after,
  .hamburger::before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin: 6px 0;
    background-color: var(--white);
    transition: var(--transition);
  }

  .hamburger.is-active::after,
  .hamburger.is-active::before {
    background-color: var(--white);
  }

  .hamburger.is-active .hamburger-bar {
    opacity: 0;
  }
  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-5px, -5px);
  }

  .mobile-nav {
    position: fixed;
    display: block;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    padding-top: 137px;
    z-index: 98;
    transition: var(--transition);
  }

  .mobile-nav.is-active {
    left: 0;
  }

  .mobile-nav-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 150px;
    margin-inline: auto;
    padding: 8rem 2rem;
    font-size: var(--link-size);
    text-align: center;
  }

  .mobile-nav-link {
    color: var(--white);
    padding: 1rem 0;
  }

  .mobile-nav-link:active {
    border-bottom: solid 1px var(--orange);
  }

  .some-icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    gap: 2rem;
  }

  .mobile-some-link {
    color: var(--white);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .mobile-some-link span {
    padding-top: 0.5rem;
    font-weight: 100;
    font-size: 11px;
  }

  .mobile-some-link:active {
    color: var(--orange);
    transition: var(--transition);
  }

  /* --- landing page --- */

  .hero {
    background-size: cover;
    background-position: center;
  }
  .landing-container {
    top: 25vh;
  }

  .main-heading {
    font-size: var(--h3-size);
  }

  .second-heading {
    font-size: var(--h1-size);
  }

  .landing-btn-down-wrapper {
    top: 20vh;
  }

  .landing-arrow-down {
    padding: 0.5rem 0.5rem;
  }

  /* ---content--- */
  .content {
    padding: 4rem 0;
  }

  /* ---- Latest posts ---- */
  .cards-wrapper {
    flex-direction: column;
  }

  .card-container {
    max-width: 50vw;
    min-width: 250px;
  }

  .card-copy {
    gap: 0.5rem;
    padding-top: 0.5rem;
  }

  /* --- footer --- */
  .first-footer {
    flex-direction: column;
    gap: 6rem;
    padding: 2rem 10px 5rem;
  }

  .left-container {
    margin-inline-end: 0;
    align-items: flex-start;
  }

  .right-container {
    align-items: flex-start;
    margin-inline-start: 0rem;
  }

  .footer-nav {
    flex-direction: column;
    gap: 1rem;
  }

  .footer-nav-link {
    align-self: flex-end;
    padding: 6px 0 6px 1rem;
  }

  .some-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .some-container p {
    font-size: var(--text-size-14);
  }

  .some-icons-container {
    font-size: 1.25rem;
  }

  .some-link:active,
  .some-link:hover {
    font-size: 1.125rem;
  }

  .top-btn ~ p {
    font-size: var(--text-size-12);
  }

  .copyright {
    font-size: var(--text-size-12);
    padding: 2rem 10px 2rem;
  }
}

/* ---------------  ----------------- */

/* ---------------  ----------------- */
