/* -- general style -- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* when modal pop up */
.darken-background::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 500;
  pointer-events: fill;
}

/* Section colour */
.white-section {
  background-color: var(--white);
}
.grey-section {
  background-color: var(--light-grey);
}
.black-section {
  background-color: var(--black);
}

/* logo */
.logo-colour {
  /* to manipulate contrast checker (it thinks the logo is black) */
  color: var(--white);
  line-height: 0;
}

.logo {
  max-height: 100px;
}

.logo-text {
  max-height: 40px;
}

/* Root */
:root {
  /* color */
  --orange: #fb9600;
  --red: #9e0f0f;
  --white: #f7f7f7;
  --light-grey: #e4e4e4;
  --turquoise: #40c0b0;
  --dark-blue: #013f46;
  --black: #202020;
  --black-light-opacity: rgba(32, 32, 32, 0.7);
  --black-low-opacity: rgba(32, 32, 32, 0.4);
  /* font */
  --serif-font: "Noto Serif", serif;
  --text-font: "Raleway", sans-serif;
  --heading-font: "Plus Jakarta Sans", sans-serif;
  --big-headline: 3rem;
  --h1-size: 2rem;
  --text-size-14: 0.875rem;
  --text-size-12: 0.75rem;
  --link-nav-size: 1.375rem;
  --link-size: 1.125rem;
  --letter-space-2: 2px;
  --letter-space-05: 0.5px;
  /* other styles */
  --scale-5: 1.05;
  --scale-98: 0.98;
  --white-border: solid 1px var(--white);
  --black-border: solid 1px var(--black);
  --orange-border-2: solid 1px var(--orange);
  --border-radius: 5px;
  --border-radius-2: 50%;
  --btn-shadow: 1px 1px 4px var(--black);
  --btn-shadow-2: 2px 2px 10px var(--dark-blue);
  --transition: all 0.3s ease;
  --max-width-desktop: 88.125rem;
  --max-blog-post-width: 900px;
}

/* Dark mode variables */
:root.dark-mode {
  --orange: #fb9600; /* keep same */
  --red: #9e0f0f; /* keep same */
  --white: #202020; /* dark background */
  --light-grey: #444444; /* darker grey */
  --turquoise: #40c0b0; /* keep same */
  --dark-blue: #011f26; /* darker blue */
  --black: #f7f7f7; /* light text */
  --black-light-opacity: rgba(32, 32, 32, 0.9);
  --black-low-opacity: rgba(32, 32, 32, 0.7);
  --btn-shadow: 1px 1px 4px var(--white); /* adjust shadows */
  --btn-shadow-2: 2px 2px 10px var(--light-grey);
}

/* ---icons and symbols--- */
.material-symbols-sharp {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
  /* Only works for newer browsers */
  font-optical-sizing: auto;
}

span.size-32 {
  font-size: 32px;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 32;
}
span.weight-400 {
  font-size: 32px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 32;
}

/* ---Text--- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  text-transform: capitalize;
  color: var(--black);
  letter-spacing: var(--letter-space-05);
}

h1 {
  font-size: 2rem;
  letter-spacing: var(--letter-space-2);
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.125rem;
  text-transform: none;
}
h6 {
  font-size: 1rem;
  text-transform: none;
}

a,
li {
  font-family: var(--text-font);
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
  letter-spacing: var(--letter-space-05);
}

label {
  font-family: var(--heading-font);
}

input,
textarea {
  font-family: var(--text-font);
  font-weight: 500;
}

input::placeholder,
textarea::placeholder {
  font-family: var(--serif-font);
}

p {
  font-family: var(--text-font);
  color: var(--black);
}

button {
  font-family: var(--heading-font);
}

/* ---- Message ---- */
.success,
.warning,
.error,
.info {
  text-transform: capitalize;
  font-family: var(--heading-font);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-inline: auto;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--black);
  color: var(--black);
  align-content: center;
  /* center the loader when inside grid */
  grid-column: 1 / -1; /* Span across all columns */
  justify-self: center;
}

.success {
  background-color: var(--turquoise);
}

.warning {
  background-color: var(--orange);
}

.error {
  background: var(--red);
  color: var(--white);
}

/* ---current page--- */
.current-page {
  border-bottom: solid 1px var(--orange);
}

/* -------- Loader -------- */

.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  max-width: var(--max-width-desktop);
  margin: 0 auto;
  /* center the loader when inside grid */
  grid-column: 1 / -1; /* Span across all columns */
  justify-self: center;
}

.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* ---------------------DESKTOP--------------------- */

/* display none class*/
.is-hidden {
  display: none;
}

/* --- display none --- */
.hamburger,
.mobile-nav {
  display: none;
}

/* ------------ header ----------- */
.dark-mode-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* position: relative; */
  max-width: var(--max-width-desktop);
  margin: 0 auto;
  padding: 5px 10px 0;
}

#light-mode-button,
#dark-mode-button {
  border: none;
  line-height: 0;
  background-color: transparent;
  top: 0;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--text-size-12);
  color: var(--turquoise);
  pointer-events: none;
  display: none;
  transition: var(--transition);
}

/* activated through javascript */
#light-mode-button.is-showing,
#dark-mode-button.is-showing {
  display: flex;
  pointer-events: none;
  z-index: 1000;
}

.light-mode-icon,
.dark-mode-icon {
  text-shadow: 1px 1px 10px var(--white);
  pointer-events: auto;
  cursor: pointer;
  background-color: transparent;
}

.light-mode-icon:hover,
.dark-mode-icon:hover {
  color: var(--orange);
}

.header-nav {
  display: flex;
  max-width: var(--max-width-desktop);
  margin-inline: auto;
  padding: 0 10px 1rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 99;
}

.nav-links-left a,
.nav-links-right a {
  font-size: var(--link-nav-size);
  color: var(--white);
}

.logo-container,
.nav-links-left,
.nav-links-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo:hover,
.logo:active {
  transform: scale(var(--scale-5));
}

.nav-link {
  padding: 6px 16px;
}

.nav-link {
  position: relative;
}

.nav-link::before,
.footer-nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  transition: var(--transition);
  border-top: var(--white-border);
}

.nav-link:hover::before,
.footer-nav-link:hover::before {
  width: 100%;
}

.nav-link:active,
.footer-nav-link:active {
  border-top: var(--white-border);
}

/* search button */
.nav-links-right button {
  border: none;
  line-height: 0;
  padding: 0.5rem;
  border-radius: var(--border-radius-2);
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
}

.nav-links-right button:hover,
.nav-links-right button:active {
  color: var(--black);
  background: var(--orange);
}

.zero-padding {
  padding: 0;
}

/* -- search bar -- */
.outer-search-container {
  max-width: var(--max-width-desktop);
  margin: 0 auto;
}

.search-form {
  position: relative;
  width: 100%;
  padding: 1rem 1rem;
  z-index: 1000;
  transform: translateY(-50%);
  transition: var(--transition);
  opacity: 0;
}

/* to get transition effect */
.search-form.visible {
  opacity: 1;
  transform: translateY(0);
}

.search-input {
  width: 100%;
  padding: 1.5rem;
  font-size: var(--link-size);
  border: var(--orange-border-2);
  border-radius: var(--border-radius);
  background: transparent;
  z-index: 1000;
  color: var(--white);
}
.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: var(--white);
  opacity: 0.7;
  font-size: var(--link-size);
  letter-spacing: var(--letter-space-05);
}

.search-input:focus::placeholder {
  opacity: 0.4;
}

.search-button {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-100%, 55%);
  border: none;
  line-height: 0;
  padding: 0.5rem;
  border-radius: var(--border-radius-2);
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
  z-index: 1000;
}

.search-input:focus + .search-button {
  color: var(--white);
}

.search-input:focus + .search-button:hover {
  color: var(--black);
}
.search-button:hover,
.search-button:active {
  color: var(--black);
  background: var(--orange);
  transition: var(--transition);
}

.search-content-container {
  position: absolute;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  max-width: var(--max-width-desktop);
  margin: 0 auto;
  background: transparent;
  z-index: 1000;
}

.search-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 4rem 2rem;
  justify-items: center;
  width: 100%;
  padding: 4rem 0;
  background-color: var(--light-grey);
  box-shadow: var(--btn-shadow-2);
  border-radius: var(--border-radius);
  text-align: left;
}

/* ----------- Footer ----------- */
footer {
  margin-top: auto;
  display: flex;
  background-color: var(--black);
  background-color: var(--dark-blue);
}

.footer {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width-desktop);
  width: 100%;
  margin-inline: auto;
}

.first-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px var(--white);
  padding: 16px 10px;
}

.left-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline-end: 4rem;
  gap: 3rem;
  width: 100%;
}

.footer-logo:hover {
  transform: scale(var(--scale-5));
}

.footer-nav {
  display: flex;
}

.footer-nav-link {
  display: flex;
  padding: 6px 16px;
  position: relative;
  color: var(--white);
}

.right-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-inline-start: 5rem;
}

.some-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.some-container p {
  font-family: var(--text-font);
  font-size: var(--text-size-14);
  text-transform: none;
  text-align: center;
  letter-spacing: var(--letter-space-05);
  color: var(--white);
}

.some-icons-container {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  gap: 1rem;
}

.white-icon {
  color: var(--white);
}

.some-link:active,
.some-link:hover,
.white-icon:active,
.white-icon:hover {
  color: var(--orange);
  transition: var(--transition);
  font-size: 1.375rem;
}

/* ---to top btn--- */
.top-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.top-btn > button {
  scroll-behavior: smooth;
  background-color: transparent;
  border: none;
}

.arrow-up {
  border: var(--white-border);
  color: var(--white);
  border-radius: var(--border-radius-2);
  cursor: pointer;
}

.arrow-up:hover,
.arrow-up:active {
  border: solid 2px var(--orange);
  color: var(--orange);
}

.top-btn ~ p {
  text-transform: capitalize;
  font-size: var(--text-size-14);
  font-weight: 500;
  color: var(--white);
}

.copyright {
  font-family: var(--serif-font);
  font-size: 10px;
  letter-spacing: var(--letter-space-2);
  color: var(--white);
  text-align: center;
  padding: 1rem 10px;
}

/* ----- Index page / landing section / hero ---- */
.body-index {
  background-color: var(--black);
}

.hero {
  background: var(--black); /* fallback if image doesn't display */
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/img/daniel-frank-R5CpX0Ktrzs-unsplash-qhd-lossy.webp); /* background image made darker with gradient */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  max-width: 100%;
  text-align: center;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-inline: 1rem;
}

.index-top-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 3rem;
}

.index-main-heading {
  font-size: var(--big-headline);
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
}

.index-sub-heading {
  color: var(--white);
  font-weight: 400;
  font-size: var(--h1-size);
  padding-top: 50vh;
}

.landing-btn-down-wrapper {
  display: flex;
  align-items: end;
  width: fit-content;
  height: 100%;
  padding: 0 0 2rem 0;
}

.landing-btn-down-wrapper button {
  background-color: transparent;
  border: none;
}

.landing-arrow-down {
  padding: 0.75rem 0.75rem;
  border: var(--orange-border-2);
  border-radius: 50%;
  color: var(--orange);
  cursor: pointer;
  background-color: transparent;
}

.landing-arrow-down:hover,
.landing-arrow-down:active {
  background: var(--orange);
  color: var(--black);
  transition: var(--transition);
}

/*--- News section ---*/

.news-container {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  max-width: var(--max-width-desktop);
  margin-inline: auto;
}

.subheading-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
}

.subheading-wrapper a {
  display: flex;
  align-items: center;
}

.news-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: var(--max-width-desktop);
  margin-inline: auto;
}

/* moving the "read more" button on the bottom */
.news-card-wrapper > :nth-child(2) {
  order: 2;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  max-width: 800px;
  cursor: pointer;
}

.card-container:hover p,
.card-container:hover h3,
.card-container:active p,
.card-container:active h3 {
  color: var(--black-light-opacity);
  transition: var(--transition);
}

.card-container:hover .card-img,
.card-container:active .card-img {
  transform: scale(0.99);
  transition: var(--transition);
}

.card-img {
  max-width: 60vw;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.card-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 1rem;
  padding-top: 2rem;
  width: 100%;
}

.plain-text-btn.news-btn {
  padding: 0;
}

.card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  padding: 12px 25px;
  background-color: var(--orange);
  color: var(--black);
  font-size: var(--link-size);
  letter-spacing: 1px;
  text-transform: none;
  font-weight: 600;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: var(--btn-shadow-2);
}

.card-btn:active,
.card-btn:hover {
  background-color: var(--dark-blue);
  color: var(--orange);
  transition: var(--transition);
}

/* --- latest post section & Carousel --- */
.post-carousel-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  max-width: var(--max-width-desktop);
  margin: 0 auto;
  padding: 1rem 2rem 3rem;
}

.post-carousel {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  padding-bottom: 2rem;
}

.post-carousel-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.post-carousel-card-img {
  height: 200px;
  object-fit: cover;
  width: 300px;
  border-radius: var(--border-radius);
}

.post-carousel-card-img:hover,
.post-carousel-card-img:active {
  transform: scale(var(--scale-98));
  transition: var(--transition);
}

.post-carousel-card-copy {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5px 5px;
}

.post-carousel-card-copy h4 {
  font-size: 1.125rem;
}

.post-carousel-card-copy p {
  line-height: 1.5rem;
}

.post-date {
  padding: 8px 8px 5px;
  font-size: var(--text-size-12);
  font-family: var(--serif-font);
  letter-spacing: var(--letter-space-2);
}

.plain-text-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  color: var(--dark-blue);
  cursor: pointer;
  font-size: var(--link-size);
  letter-spacing: var(--letter-space-05);
  font-weight: 600;
  text-transform: none;
  padding: 0.5rem;
  line-height: 0;
}

.plain-text-btn:hover,
.plain-text-btn:active {
  font-weight: 500;
}

.carousel-arrow-right,
.carousel-arrow-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  max-height: 3rem;
  max-width: 3rem;
  color: var(--black);
  padding: 0.5rem;
  background-color: var(--orange);
  opacity: 0.9;
  border: none;
  border-radius: var(--border-radius-2);
  box-shadow: var(--btn-shadow-2);
  z-index: 9;
  transition: var(--transition);
}

.carousel-arrow-left {
  left: 0;
}

.carousel-arrow-right {
  right: 0;
}

.carousel-arrow-right:hover,
.carousel-arrow-left:hover,
.carousel-arrow-right:active,
.carousel-arrow-left:active {
  opacity: 1;
  color: var(--orange);
  background-color: var(--dark-blue);
}

/* ---- Intro section ---- */
.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 4rem 0 4rem 0;
  margin: 0 auto;
  max-width: var(--max-width-desktop);
}

.intro-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: var(--border-radius-2);
}

.intro-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 800px;
  font-size: var(--link-size);
  font-weight: 500;
}

.intro-text-wrapper p:last-child {
  padding: 0 0 1rem 0;
}

/* ---------- Articles page ---------- */
.page-content {
  background-color: var(--black);
}

/* --- Main --- */
.articles-top-img {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/img/loic-leray-CIX5JDM59EM-unsplash.webp);
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.top-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding: 7rem 0 3rem 0;
}

.main-heading {
  font-size: var(--big-headline);
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
}

.sub-heading {
  color: var(--white);
  font-weight: 400;
  font-size: var(--h1-size);
  text-transform: none;
  padding: 0 5px;
}

/* --- Articles Section --- */
.category-btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  max-width: fit-content;
  margin: 2rem auto;
}

.category-button,
.drop-down-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  max-height: 37px;
  font-size: var(--text-size);
  letter-spacing: var(--letter-space-2);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--dark-blue);
  box-shadow: var(--btn-shadow-2);
  margin: 0.5rem;
}

.category-button:hover {
  opacity: 0.9;
}

.drop-down-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drop-down-wrapper {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  top: 86%;
  background-color: var(--dark-blue);
  box-shadow: var(--btn-shadow);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  max-width: min(100%, calc(100% - 1rem));
  transition: var(--transition);
}

.drop-down-cat-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 1rem;
  font-size: var(--text-size-14);
  letter-spacing: var(--letter-space-05);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--dark-blue);
  box-shadow: var(--btn-shadow-2);
  transition: var(--transition);
  position: relative;
  margin: 0;
}

.drop-down-cat-buttons:hover {
  background-color: var(--orange);
  color: var(--black);
  box-shadow: var(--btn-shadow-2);
}

.category-button:active,
.drop-down-cat-buttons:active {
  transform: translateY(1px);
  opacity: 0.8;
}

/* Style for active button to stay pressed (javascript) */
.category-button.active,
.drop-down-cat-buttons.active {
  box-shadow: inset 0 1px 5px var(--orange);
  transform: translateY(1px);
  background-color: var(--orange);
  color: var(--black);
}

.drop-down-wrapper.open {
  display: flex;
}

/* -------  Article cards  --------- */
.posts-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 4rem 2rem;
  justify-items: center;
  max-width: var(--max-width-desktop);
  margin: 0 auto;
  padding: 2rem 1rem 3rem;
}

.article-card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  max-height: 450px;
}

.article-card:last-child {
  justify-content: left;
}

.article-card-img {
  width: 400px;
  max-height: 300px;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.article-card:hover .article-card-img,
.article-card:active .article-card-img {
  transform: scale(var(--scale-98));
  transition: var(--transition);
}

.article-card-copy {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5px 5px 0;
}

.article-card-copy > :first-child {
  text-transform: none;
}

.card-p-wrapper {
  text-overflow: ellipsis;
  overflow: hidden;
}

.article-card-copy ~ p {
  line-height: 1.5rem;
}

.load-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 4rem;
  max-width: var(--max-width-desktop);
  margin: 0 auto;
}

/* need to set this specific on the button wrapper to hide it */
.load-btn-wrapper.is-hidden {
  display: none;
}

/* ------- About me ------- */
.about-top-img {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), url(../assets/img/derek-sears-lzeMiXS3UJI-unsplash.webp);
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.black-heading {
  color: var(--black);
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 4rem 10px 6rem;
  margin: 0 auto;
  max-width: 900px;
}

.about-container h2 {
  text-transform: uppercase;
  text-align: center;
}

.about-container img {
  width: 400px;
  height: 400px;
  border-radius: var(--border-radius-2);
  object-fit: cover;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  line-height: 1.75rem;
}

.text-wrapper p {
  font-weight: 500;
  font-size: var(--link-size);
}

.image-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  gap: 1rem;
}

.image-wrapper img {
  width: 250px;
  height: 250px;
  border-radius: var(--border-radius-2);
  object-fit: cover;
}

.btn-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.about-bottom-padding {
  padding: 0 0 2rem 0;
}

/* ------- Contact me ------- */
.contact-top-img {
  background: url(../assets/img/danka-peter-xv4L_bb0Z_8-unsplash.webp);
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  gap: 4rem;
  max-width: 550px;
  margin: 0 auto;
  padding: 6rem 0 0 0;
  text-align: center;
}

.form-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.form-heading-container h2 {
  text-transform: uppercase;
}

.form-heading-container p {
  font-size: var(--link-size);
  line-height: 1.75rem;
}

.form-heading-container > :last-child {
  display: flex;
  gap: 0.5rem;
  font-family: var(--serif-font);
  font-size: var(--text-size-14);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  padding: 0 0 8rem 0;
}

.label-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.form-wrapper label {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  text-align: left;
}

.form-wrapper span {
  font-size: var(--text-size-14);
}

.form-wrapper input,
.form-wrapper textarea {
  width: 100%;
  padding: 1.25rem 1rem;
  background-color: var(--light-grey);
  border-radius: var(--border-radius);
  box-shadow: var(--btn-shadow-2);
  outline: none;
  border: none;
  color: var(--black);
}

.form-wrapper input:focus,
.form-wrapper textarea:focus {
  outline: none;
  background-color: var(--white);
}

.form-wrapper textarea {
  height: 200px;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 17px 30px;
  background-color: var(--orange);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--btn-shadow-2);
  color: var(--black);
  font-size: var(--link-size);
  letter-spacing: 1px;
  text-transform: none;
  font-weight: 600;
  cursor: pointer;
}
.submit-button:hover,
.submit-button:active {
  background-color: var(--dark-blue);
  color: var(--orange);
  transition: var(--transition);
}

.form-message {
  display: flex;
  width: 100%;
  color: var(--red);
  padding: 0 1rem;
}

.form-wrapper .form-error {
  border: none;
  box-shadow: 1px 1px 2px 2px var(--red);
}

.form-wrapper .form-success {
  border: none;
  box-shadow: 1px 1px 2px 2px var(--turquoise);
  background-color: var(--light-grey);
}

/* ---- form success --- */
.form-success-container {
  position: absolute;
  width: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 1rem auto;
  text-align: center;
  background-color: transparent;
  border-radius: 5px;
  z-index: 1000;
}

.success-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
}

.success-icon {
  background-image: url(../assets/img/check_circle.svg);
  background-size: contain;
  width: 150px;
  height: 150px;
}

.success-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.success-text-wrapper h1 {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: var(--white);
}

.success-text-wrapper h4 {
  display: flex;
  flex-direction: column;
  color: var(--white);
}

.modal-home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 25px;
  background-color: var(--orange);
  color: var(--black);
  font-size: var(--link-size);
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: 1px 2px 4px var(--orange);
  max-width: fit-content;
}

.modal-home-btn:active,
.modal-home-btn:hover {
  background-color: var(--dark-blue);
  color: var(--orange);
  transition: var(--transition);
  box-shadow: 1px 2px 4px var(--dark-blue);
}

.modal-exit-btn {
  padding: 1px 10px;
  border: none;
  font-size: 2.5rem;
  font-weight: 100;
  background-color: transparent;
  color: var(--orange);
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
}

/* ---- Specific blog post page ----  */
.blog-post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  max-width: var(--max-width-desktop);
  margin: 0 auto;
  padding: 0 10px 3rem 10px;
}

.headline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  text-align: center;
  max-width: var(--max-blog-post-width);
  margin: 0 auto 2rem auto;
  padding-bottom: 1rem;
  border-bottom: var(--black-low-opacity) 1px outset;
}

.headline-wrapper h1 {
  font-size: 2.25rem;
  text-transform: uppercase;
}

.headline-wrapper p {
  font-family: var(--heading-font);
  font-size: 1.375rem;
  letter-spacing: var(--letter-space-05);
  text-transform: none;
}

.post-img {
  width: fit-content;
  max-width: 80vw;
  max-height: 500px;
  object-fit: contain;
  filter: drop-shadow(1px 1px 3px var(--black));
  margin: 0 auto 2rem auto;
  cursor: zoom-in;
}

.sub-text-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: var(--max-blog-post-width);
  margin: 0 auto;
}

.sub-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sub-text-wrapper h2 {
  padding: 0 0 8px 0;
  line-height: 2rem;
  text-transform: none;
}

.sub-text-wrapper p {
  line-height: 2rem;
  letter-spacing: var(--letter-space-05);
  font-size: var(--link-size);
}

.blog-post-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--max-width-desktop);
  margin: 2rem auto 4rem auto;
}

.back-btn-wrapper {
  max-width: var(--max-width-desktop);
  margin: 3rem auto;
}

/* ---- article image modal ---- */
.image-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 950;
  background-color: var(--black-light-opacity);
  line-height: 0;
  font-size: 0;
}

.image-popup-wrapper {
  position: fixed;
  width: fit-content;
  height: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 10px solid var(--black);
  border-radius: 5px;
  z-index: 1000;
  background-color: var(--white);
}

.modal-image {
  display: block;
  max-width: 90vw;
  max-height: 70vh;
  object-fit: cover;
  z-index: 1000;
  background-color: var(--black);
}

.exit-btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, 0);
  z-index: 1000;
  color: var(--white);
  background-color: var(--black);
}

.exit-btn:hover,
.exit-btn:active {
  color: var(--orange);
  transition: var(--transition);
}

/* ------------------- Media 950px ----------------- */
@media (width <= 950px) {
  /* --- display none --- */
  .nav-links-left,
  .nav-link {
    display: none;
  }

  /* --- text --- */
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  a {
    font-size: 1rem;
  }

  label {
    font-size: var(--text-size-14);
  }

  /* --- header --- */
  .logo {
    max-height: 80px;
  }

  .logo-text {
    max-height: 30px;
  }

  .search-icon,
  .hamburger,
  .nav-icons {
    display: inline-block;
  }

  .header-nav {
    justify-content: space-between;
    padding: 10px 1rem;
  }

  .nav-link::before,
  .nav-link:active {
    border-top: none;
  }

  .search-content {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2rem 1rem;
    padding: 2rem 0;
  }
  .search-input::placeholder,
  .search-input {
    font-size: var(--text-size);
  }

  /* --- hamburger menu --- */
  .hamburger {
    display: block;
    position: relative;
    width: 1.625rem;
    cursor: pointer;
    outline: none;
    border: none;
  }

  .hamburger-bar,
  .hamburger::after,
  .hamburger::before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin: 6px 0;
    background-color: var(--white);
    transition: var(--transition);
  }

  .hamburger.is-active::after,
  .hamburger.is-active::before {
    background-color: var(--white);
  }

  .hamburger.is-active .hamburger-bar {
    opacity: 0;
  }
  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-5px, -5px);
  }

  .mobile-nav {
    position: fixed;
    display: block;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    padding-top: 137px;
    z-index: 98;
    transition: var(--transition);
  }

  .mobile-nav.is-active {
    left: 0;
  }

  .mobile-nav-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: min(100%, 150px);
    margin-inline: auto;
    padding: 8rem 2rem;
    font-size: var(--link-size);
    text-align: center;
  }

  .mobile-nav-link {
    color: var(--white);
    padding: 1rem 0;
  }

  .mobile-nav-link:active {
    border-bottom: solid 1px var(--orange);
  }

  .some-icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    gap: 2rem;
  }

  .mobile-some-link {
    color: var(--white);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .mobile-some-link span {
    padding-top: 0.5rem;
    font-weight: 100;
    font-size: 11px;
  }

  .mobile-some-link:active {
    color: var(--orange);
    transition: var(--transition);
  }

  /* --- footer --- */
  .first-footer {
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 1rem 2rem;
    width: 100%;
    max-width: var(--max-width-desktop);
    margin: 0 auto;
  }

  .left-container {
    margin-inline-end: 0;
    align-items: center;
    justify-content: space-between;
  }

  .right-container {
    align-items: center;
    margin-inline-start: 0rem;
    justify-content: space-between;
  }

  .footer-nav {
    gap: 1rem;
  }

  .footer-nav-link {
    align-self: flex-end;
    padding: 6px 0 6px 1rem;
  }

  .some-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .some-container p {
    font-size: var(--text-size-14);
  }

  .some-icons-container {
    font-size: 1.25rem;
  }

  .some-link:active,
  .some-link:hover {
    font-size: 1.125rem;
  }

  .top-btn ~ p {
    font-size: var(--text-size-12);
  }

  .copyright {
    font-size: var(--text-size-12);
    padding: 2rem 10px 2rem;
  }

  /* --- landing page --- */

  .hero {
    background-size: cover;
    background-position: center;
  }

  .index-sub-heading {
    font-size: 1.5rem;
    padding-top: 45vh;
  }

  .index-main-heading {
    font-size: 1.75rem;
  }

  .landing-arrow-down {
    padding: 0.5rem 0.5rem;
  }

  /* ---intro--- */
  .intro-container {
    padding: 3rem 0.5rem;
  }

  .card-btn,
  .plain-text-btn {
    font-size: 1rem;
  }

  /* ---- news section ---- */
  .news-container {
    padding: 2rem 2rem;
  }
  .card-container {
    width: min-content;
  }

  /* --- articles page --- */
  .articles-top-img,
  .about-top-img,
  .contact-top-img {
    height: 200px;
  }

  .top-heading-container {
    padding: 3rem 0 0rem;
    gap: 3rem;
    text-align: center;
  }

  .main-heading {
    font-size: 1.5rem;
  }
  .sub-heading {
    font-size: 1.25rem;
  }

  .category-btn-wrapper {
    justify-content: space-evenly;
    margin: 1rem auto;
  }

  .category-button,
  .drop-down-btn {
    padding: 5px 12px;
    font-size: 1rem;
    max-height: 28px;
  }

  .drop-down-cat-buttons {
    font-size: var(--text-size-14);
  }

  .posts-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2rem 1rem;
  }

  .article-card {
    max-width: 250px;
  }

  .post-date {
    padding: 5px 0.5rem;
  }

  .article-card-img {
    width: 250px;
    max-height: 200px;
  }

  .article-card-copy {
    gap: 0.5rem;
    padding: 0 5px;
  }

  /* --- about page --- */
  .about-container {
    padding: 3rem 1rem 4rem;
    gap: 2rem;
  }

  .about-container img {
    width: 300px;
    height: 300px;
  }
  .about-container p {
    font-size: 1rem;
  }

  .image-wrapper img {
    width: 200px;
    height: 200px;
  }

  /* --- contact page --- */
  .form-container {
    padding: 3rem 1rem 4rem;
    gap: 2rem;
  }

  .form-heading-container {
    gap: 1rem;
  }

  .form-heading-container p {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .form-heading-container > :last-child {
    display: flex;
    gap: 0.5rem;
    font-family: var(--serif-font);
    font-size: var(--text-size-12);
  }

  .form-wrapper {
    gap: 1rem;
    padding: 0;
  }

  .form-wrapper input,
  .form-wrapper textarea {
    padding: 1rem 0.5rem;
  }

  .form-wrapper textarea {
    height: 150px;
  }

  .submit-button {
    padding: 15px 25px;
    font-size: 1rem;
  }

  .form-success-container {
    width: 90vw;
  }

  .success-icon {
    width: 100px;
    height: 100px;
  }

  .success-text-wrapper h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .success-text-wrapper h4 {
    font-size: 1rem;
  }

  .modal-home-btn {
    padding: 10px 20px;
    font-size: 1rem;
  }

  /* --- article page --- */
  .back-btn-wrapper {
    margin: 2rem auto;
  }

  .blog-post-container {
    padding: 0 1rem;
  }

  .headline-wrapper {
    gap: 2rem;
    margin: 0 auto;
  }

  .headline-wrapper h1 {
    font-size: 1.5rem;
  }

  .headline-wrapper p {
    font-size: var(--link-size);
  }

  .post-img {
    margin: 0 auto;
  }

  .sub-text-container {
    gap: 2rem;
  }

  .sub-text-container h2 {
    font-size: 1.25rem;
  }

  .sub-text-container p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .blog-post-btn-container {
    margin: 2rem auto;
  }
}

/* ---------------  ----------------- */
@media (width <= 500px) {
  /* diplay none */
  .logo-text {
    display: none;
  }

  /* --- footer --- */
  .left-container {
    align-items: start;
  }

  .footer-nav {
    flex-direction: column;
  }

  /* index page */
  .index-sub-heading {
    font-size: 1.5rem;
    padding-top: 35vh;
  }

  /* news section */
  .news-container {
    padding: 1rem 2rem 2rem;
  }

  /* contact page */
  .success-text-wrapper h1 {
    font-size: 1.25rem;
  }
}
