/* --- Desktop --- */
.post-carousel-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 2rem;
  max-width: 88.125rem;
  margin: 2rem auto;
  padding: 0 2rem;
}

.post-carousel {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  scroll-snap-type: mandatory;
}

.post-carousel::-webkit-scrollbar {
  /* display: none; */
}

.post-carousel-card {
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: var(--border-radius-2);
  scroll-snap-align: start;
}

.post-carousel-card:last-child {
  scroll-snap-align: end;
}

.post-carousel-card img {
  max-height: 300px;
  height: 100%;
  object-fit: cover;
  max-width: 300px;
  border-radius: var(--border-radius-2);
}

.post-carousel-card:hover,
.post-carousel-card:active {
  transform: scale(0.98);
  transition: var(--transition);
}

.post-carousel-card-copy {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 10px;
}

.carousel-arrow-right,
.carousel-arrow-left {
  position: absolute;
  top: 125%;
  cursor: pointer;
  color: var(--orange);
  padding: 2rem 1rem;
  background-color: var(--black);
  opacity: 0.9;
  border: none;
  border-radius: var(--border-radius-2);
  box-shadow: var(--btn-shadow);
  z-index: 9;
  top: 50%;
}

.carousel-arrow-left {
  left: 0;
}

.carousel-arrow-right {
  right: 0;
}

.carousel-arrow-right:hover,
.carousel-arrow-left:hover,
.carousel-arrow-right:active,
.carousel-arrow-left:active {
  opacity: 1;
  color: var(--black);
  background-color: var(--orange);
}

/* --- Mobile --- */

@media (width <= 950px) {
}
