.success,
.warning,
.error {
  text-transform: capitalize;
  text-align: center;
  margin-inline: auto;
  max-width: 100%;
  padding: 1rem;
  background: rgba(0, 255, 0, 0.1);
}

.success {
  border: 1px solid var(--turquoise);
  color: var(--turquoise);
}

.warning {
  border: 1px solid var(--orange);
  color: orange;
}

.error {
  border: 1px solid var(--red);
  color: darkred;
}
